{
  "extends": "eslint-config-vtex",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "off",
    "@typescript-eslint/ban-ts-ignore": "off"
  }
}
